.org {
    position: fixed;
    margin-top: -0.70rem;
    margin-left: -0.75rem;
    width: 120px;
    height: 100%;
    background-color: white;
}

.method {
    position: fixed;
    margin-top: -0.70rem;
    margin-left: 107px;
    width: 180px;
    height: 100%;
    background-color: white;
}

.box {
    display: block;
    position: fixed;
    margin-left: 300px;
    margin-right: 0.75rem;
}
